*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: blue;
    height: 250px;
    padding-top: 40px;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
}
section{
    position: absolute;
    top: 160px;
    left: 90px;
}
.line{
    width: 250px;
    display: inline-block;
    margin: 0 20px
}
.line img{
    width: 100%;
}
.outimg{
    position: relative;
    height: 250px;
}
.out1{
    position: absolute;
}
.text1{
    position: absolute;
    top:150px;
    left:10px;
    background-color: whitesmoke;
    opacity: 70%;
    width: 231px;
    color:black;
    border-radius: 10px;
    padding-left: 5px;
    font-family: 'DejaVu Sans Extra Light';
}
.correct{
    position:relative
}
.text2{
    position: absolute;
    top: 150px;
    left:10px;
    background-color:white;
    opacity: 70%;
    width: 231px;
    color:black;
    border-radius: 10px;
    padding-left: 5px;
    font-family: 'DejaVu Sans Extra Light';
}
h1{
    color: white;
    font-family: 'ArchyEDT-Bold';
    display: inline-block;
}
.wert1{
    height: 10px;
    width: 10px;
    background-color: azure;
    display: inline-block;
    border-radius: 90px;
    margin:0 7px
}
.wert{
    display: inline-block;
}
.wert2{
    opacity: 70%;
}